<% if (pages > 1) {
    let linkaddress =  ""; 
    if(urladdress.includes("?")){
        linkaddress = urladdress.substring(urladdress.indexOf("?"),urladdress.length) ;
    }
    %>
    <nav><ul class="pagination justify-content-center">
        <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">Trang đầu</a></li>
        <% } else { %>
            <li class="page-item"><a href="/<%= linkUrl %>/1" class="page-link">Trang đầu</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
                <li page-item><a class="page-link" href="/<%= linkUrl %>/<%= i %><%= linkaddress %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="disabled"><a class="page-link">Trang cuối</a></li>
        <% } else { %>
            <li class="page-item"><a class="page-link" href="/<%= linkUrl %>/<%= pages %>">Trang cuối</a></li>
        <% } %>
    </ul></nav>
<% } %>