<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Sửa loại danh mục: <%= categoryType.typeName %> </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li>                  
                    <li class="active">Sửa loại danh mục : <%= categoryType.typeName %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
         <div class="card">
            <div class="card-header">
                <strong>Sửa loại danh mục</strong> 
            </div>
            <div class="card-body card-block">
            <% include ../../partials/backend/messages %>                       
                <form action="/admin/category/editcategorytype/<%=categoryType._id%>" method="POST" class="form-horizontal form-validate" id="ct">                    
                    <input type="hidden" name="url" value="<%= url %>">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Chủng loại :</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="typeName" name="typeName" placeholder="Nhập tên chủng loại" class="form-control" value="<%= categoryType.typeName %>" data-rule-required="true"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Kiểu loại:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="typeInt" name="typeInt" placeholder="Nhập chủng loại" class="form-control" value="<%= categoryType.typeInt %>" data-rule-required="true" data-rule-number="true" disabled></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">&nbsp;</div>
                        <div class="col-12 col-md-9"><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Cập nhật</button>
                        <a href="/<%= url %>" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i> Quay lại</a> </div>
                    </div> 
                </form>
            </div>            
        </div>
    </div>
</div>

</div>