<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Danh sách danh mục</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li>                  
                    <li class="active">Danh sách danh mục</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
            
         <div class="card">
                    <div class="card-header">
                        <div class="col col-md-6">
                            <form action="/admin/category/searchType/<%= typeId %>" method="POST" class="form-horizontal">
                                <div class="input-group">
                                    <input type="text" class="form-control col-md-6"  name="textsearch" id="textsearch" placeholder="Nhập từ khóa tìm kiếm...">
                                        <span class="input-group-btn">
                                        <button class="btn btn-info" type="submit"><i class="fa fa-search fa-fw"></i> Tìm kiếm</button>
                                        </span>
                                </div>
                            </form>                        
                        </div>
                        <form action="/admin/category/Index" method="POST" class="form-horizontal">
                        <div class="col-12 col-md-6">
                            <div class="float-right mt-2">
                                <a href="/admin/category/add/" class="btn btn-success btn-sm" style="color: #fff;">
                                    <i class="fa fa-plus"></i> Thêm mới
                                </a>
                                <button type="submit" class="btn btn-primary btn-sm"  id="bntupdateOrder">
                                    <i class="fa fa-refresh"></i> Cập nhật thứ tự
                                </button>  
                                <button type="button" class="btn btn-danger btn-sm" onclick="getCheckListId()" id="bntdeleteList" disabled>
                                        <i class="fa fa-trash-o"></i> Xóa danh mục
                                </button>   
                               
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                     
                            <% include ../../partials/backend/messages %>                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"><input type="checkbox" id="checkAll"></th>
                                        <th scope="col">Tên danh mục</th>
                                        <th scope="col">Ảnh</th>
                                        <th scope="col">Thể loại</th>
                                        <th scope="col">Active</th>  
                                         <th scope="col">Home</th>                                 
                                        <th scope="col">Thứ tự</th>
                                        <th scope="col">Người tạo</th>                                   
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">người sửa</th>
                                        <th scope="col">Ngày sửa</th>                                    
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% data.forEach(item => { %>
                                 <tr>
                                        <td scope="row"><input type="checkbox" name="checkItem" class="checkItem" value="<%= item._id %>"></td>
                                        <td><%= item.categoryName %></td>
                                        <td><% if(item.imageUrl != ''){%>
                                            <img src="/uploads/<%= item.imageUrl %>" class="align-self-center rounded-circle mr-3" alt="<%= item.categoryName %>" style="width:50px; height:50px;">                                         
                                        <% } else { %>
                                            <img src="/images/noimg.jpg" class="align-self-center rounded-circle mr-3" alt="<%= item.categoryName %>" style="width:50px; height:50px;"> 
                                         <% } %></td>
                                        <td><a href="/admin/category/TypeIndex/<%= item.categoryType._id%>" class="btn-link"> <%= item.categoryType.typeName %></a></td>
                                        <td> <% if ( item.active) { %><span class="badge badge-success"><span class="ti-unlock"></span>&nbsp; Active</span>
                                         <% }else{%><span class="badge badge-danger"><span class="ti-lock"></span>&nbsp; Clock</span><%} %> </td>   
                                          <td> <% if ( item.home) { %><span class="badge badge-success"><span class="ti-check"></span>&nbsp; Home</span>
                                         <% }else{%><span class="badge badge-warning"><span class="ti-close"></span>&nbsp; Default</span><%} %> </td>                                   
                                         <td><input type="text" name="txtOrder" value="<%= item.order %>" class="form-control" style="width:40px;"></td>
                                        <td><%= item.createBy %></td>
                                        <td><%= item.createDate_dd_mm_yyyy %></td>
                                        <td><%= item.editBy %></td>
                                        <td><%= item.editDate_dd_mm_yyyy %></td>
                                        <td>
                                            <div class="float-right">
                                                <a class="btn btn-primary btn-sm"><i class="fa fa-wrench"></i>&nbsp; Sửa</a>
                                                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp; Xóa</a>
                                            </div>
                                        </td>
                                    </tr>     
                            
                                <% }) %>                   
                                </tbody>
                            </table>
                            <% include ../../partials/backend/PageNavigation %>

                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

</div>

<script>
     getCheckListId = function(){
        var checkBoxes = $('.table tbody .checkItem');
        var values;
		checkBoxes.change(function () {
			 values += checkBoxes.filter(':checked').val();
        });
        alert(values);
     }
</script>