<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Danh sách tài khoản</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li>                  
                    <li class="active">Danh sách tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
            <form action="/admin/user/list/<%= current %>" method="POST" class="form-horizontal" onSubmit="if(!confirm('Bạn có muốn xóa không?')){return false;}">
         <div class="card">
                    <div class="card-header">
                        <div class="col col-md-6">
                        <i class="mr-2 fa fa-align-justify"></i>
                        <strong class="card-title">Danh sách tài khoản</strong>
                        </div>
                        <div class="col-12 col-md-6">
                                <div class="float-right mt-2">
                                    <a href="/admin/user/add" class="btn btn-success btn-sm" style="color: #fff;">
                                        <i class="fa fa-plus"></i> Thêm mới
                                    </a>
                                    <button type="submit" class="btn btn-danger btn-sm" id="bntdeleteList" disabled>
                                            <i class="fa fa-trash-o"></i> Xóa user chọn
                                        </button>                                   
                                </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                     <% include ../../partials/backend/messages %>                       
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox" id="checkAll"></th>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Admin</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                           <% data.forEach(item => { %>
                             <tr>
                                    <td scope="row"><input type="checkbox" name="checkItem" class="checkItem" value="<%= item._id %>"></td>
                                    <td><%= item.name %></td>
                                    <td><% if(item.ImageUrl != ''){%>
                                        <img src="/uploads/<%= item.ImageUrl %>" class="align-self-center rounded-circle mr-3" alt="<%= item.name %>" style="width:50px; height:50px;">                                         
                                    <% } else { %>
                                        <img src="/images/noimg.jpg" class="align-self-center rounded-circle mr-3" alt="<%= item.name %>" style="width:50px; height:50px;"> 
                                     <% } %></td>
                                    <td><%= item.email %></td>
                                    <td> <% if ( item.active) { %><span class="badge badge-success"><span class="ti-unlock"></span>&nbsp; Active</span>
                                     <% }else{%><span class="badge badge-danger"><span class="ti-lock"></span>&nbsp; Clock</span><%} %> </td>
                                    <td> <% if (item.admin) { %>
                                    <span class="badge badge-success"><span class="ti-check-box"></span>&nbsp; Admin</span>                                     
                                    <% } else{%><span class="badge badge-danger"><span class="ti-na"></span>&nbsp; Mod</span><%} %></td>
                                    <td><%= item.date_dd_mm_yyyy %>
                                    </td>
                                    <td>
                                        <div class="float-right">
                                            <a class="btn btn-primary btn-sm" href="/admin/user/edit/<%= item._id %>?url=<%= linkUrl %>/<%= current %>"><i class="fa fa-wrench"></i>&nbsp; Sửa</a>
                                            <a class="btn btn-danger btn-sm" href="/admin/user/delete/<%= item._id %>?url=<%= linkUrl %>/<%= current %>" onclick="return confirm('Bạn có muốn xóa user này không?');"><i class="fa fa-trash"></i>&nbsp; Xóa</a>
                                        </div>
                                    </td>
                                </tr>     
                           <% }) %>
                                                          
                            </tbody>
                        </table>
                      <% include ../../partials/backend/PageNavigation %>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>

</div>