<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/backend/partialLink %>     
    <% include ../../partials/backend/partialCsript %>     
    <link rel="stylesheet" href="/jodit-3.3.8/jodit.min.css"/>
    <script src="/jodit-3.3.8/jodit.min.js"></script>  
  </head>
  <body> 
<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Thêm mới sản phẩm</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li>                  
                    <li class="active">Sửa sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
         <div class="card">
                    <div class="card-header">
                <strong>Sửa sản phẩm : <%= list.productName %></strong> 
                
            </div>
            <div class="card-body card-block">
            <% include ../../partials/backend/messages %>                       
                <form action="/admin/product/edit/<%= list._id %>" method="post" enctype="multipart/form-data" class="form-horizontal form-validate" id="ud">                    
                    <input type="hidden" value="<%= url %>" name="url" id="url"/>
                    <input type="hidden" value="<%= list._id %>" name="id" id="id"/>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="parent" class="form-control-label">Danh mục sản phẩm :</label></div>
                        <div class="col-12 col-md-9 mserro">
                        <select name="slCategory" id="slCategory" class="form-control" data-placeholder="Chọn mục cha..." data-rule-required="true">
                            <%- include('../../partials/backend/dropallTree', {items: listCate, level: 1, id_check: list.category }) %>                          
                        <select>
                        </div>
                    </div>  
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="form-control-label">Tên sản phẩm :</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="productName" name="productName" placeholder="Nhập tên sản phẩm" class="form-control" data-rule-required="true" value="<%= list.productName %>"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Tên Alias:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="productKey" name="productKey" placeholder="Nhập tên Alias" class="form-control"  data-rule-required="true" value="<%= list.productKey %>"><span id="keyspan" style = "color:red;"><span></div>
                    </div>                  
                    
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Meta Tile:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="metaTile" name="metaTile" placeholder="Nhập tên hiển thị cho Title" class="form-control"  data-rule-required="true" value="<%= list.metaTile %>"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Meta Keyword:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="metaKeyword" name="metaKeyword" placeholder="Nhập keyword" class="form-control"  data-rule-required="true" value="<%= list.metaKeyword %>"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Meta Description:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea  id="metaDescription" name="metaDescription" placeholder="Nhập Description" class="form-control"  data-rule-required="true" rows="2"><%= list.metaDescription %></textarea></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Số lượng:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="quantum" name="quantum" placeholder="Nhập số sản phẩm" class="form-control"  data-rule-required="true"  data-rule-number="true" value="<%= list.quantum %>"></div>
                    </div>
                     <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Thứ tự</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="order" name="order" placeholder="Nhập thứ tự sản phẩm" class="form-control" data-rule-required="true" data-rule-number="true" value="<%= list.order %>"></div>
                    </div>    
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Giá bán</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="price" name="price" placeholder="Nhập giá bán sau khi giảm" class="form-control" data-rule-required="true" data-rule-number="true" value="<%= list.price %>"></div>
                    </div>    
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Giá cũ</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="priceOld" name="priceOld" placeholder="Nhập giá cũ trước khi giảm" class="form-control" data-rule-required="true" data-rule-number="true" value="<%= list.priceOld %>"></div>
                    </div>                    
                    <div class="row form-group">
                            <div class="col col-md-3"><label for="fileImg" class=" form-control-label">Chọn ảnh</label></div>
                            <div class="col-12 col-md-9 mserro"><input type="file" id="fileImg" name="fileImg" class="form-control-file" accept="image/*">
                             <input type="hidden" value="<%= list.imageUrl %>" id="hidImg" name="hidImg">
                            </div>
                    </div>
                     <div class="row form-group">
                            <div class="col col-md-3"><label for="fileImg" class=" form-control-label"></label></div>
                            <div class="col-12 col-md-9 mserro"> 
                                <% if(list.imageUrl.length > 0 ){
                                      var n = list.imageUrl.indexOf('.');
                                      var id_img = list.imageUrl.substring(0,n);
                                    %>
                                <div class="imgcontainer" id="<%= list._id %>">
                                <img class="img-thumbnail" id="<%= list.imageUrl %>" src="<%= list.ImageUrlFull %>" alt="<%= list.productName %>" >    
                                <a class="imgdelete1" id="<%= id_img %>" title="Xóa ảnh"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                                <%}%>
                            </div>
                    </div>
                    <div class="row form-group">
                            <div class="col col-md-3"><label for="fileImg" class=" form-control-label">Ảnh khác</label></div>
                            <div class="col-12 col-md-9 mserro">
                            <input type="file" id="fileimageRelated" name="fileimageRelated" class="form-control-file"  accept="image/*" multiple>                           
                            <input type="hidden" value="<%= list.imageRelated %>" id="hidimageRelated" name="hidimageRelated">
                            </div>
                    </div>
                    <div class="row form-group">
                            <div class="col col-md-3"><label for="fileImg" class=" form-control-label"></label></div>
                            <div class="col-12 col-md-9 mserro">                                 
                                <% if(list.imageRelated.length > 0 ){%>
                                <% list.imageRelated.forEach(img =>{
                                    var n = img.indexOf('.');
                                    var idimg = img.substring(0,n);
                                    var iddiv = img.substring(n,img.length);
                                %>
                                <div class="imgcontainer2" id="<%= iddiv %>">
                                    <img class="img-thumbnail" src="/uploads/pictures/<%= img %>" alt="<%= list._id %>">  
                                     <a class="imgdelete" id="<%= idimg %>" title="Xóa ảnh"><i class="fa fa-trash" aria-hidden="true"></i></a>                                   
                                    </div>
                                <% }) %>
                                
                                <%}%>
                            </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Mô tả ngắn:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea id="preview" name="preview"  placeholder="Nhập mô tả ngắn" class="form-control" rows="3"><%= list.preview %></textarea></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Chi tiết:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea id="detail" name="detail" placeholder="Nhập chi tiết" class="form-control" rows="4"><%= list.detail %></textarea></div>
                    </div>                   

                    <div class="row form-group">
                        <div class="col col-md-3"> &nbsp; </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label for="chkActive" class="form-check-label ">
                                            <input type="checkbox" id="chkActive" name="chkActive" class="form-check-input"  <% if(list.active) { %> checked="checkbox" <%}%>> Active
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="chkHome" class="form-check-label ">
                                            <input type="checkbox" id="chkHome" name="chkHome" class="form-check-input"  <% if(list.home) { %> checked="checkbox" <%}%>> home
                                        </label>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                         <div class="row form-group">
                        <div class="col col-md-3">&nbsp;</div>
                        <div class="col-12 col-md-9"><button type="submit" id="bntAdd" class="btn btn-primary btn-sm"><i class="fa fa-plus-square-o"></i> Thêm mới</button>
                        <a href="/admin/product/Index" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i> Quay lại</a> </div>
                    </div> 
                    
                </form>
            </div>            
        </div>
    </div>
</div>

</div>
<script>
    var editor = new Jodit('#detail', {
        textIcons: false,
        iframe: false,
        iframeStyle: '*,.jodit_wysiwyg {color:red;}',
        height: 500,
        defaultMode: Jodit.MODE_WYSIWYG,
        observer: {
            timeout: 100
        },
        uploader: {
          insertImageAsBase64URI: true,
        },

        // uploader: {
        //    // url: 'https://xdsoft.net/jodit/connector/index.php?action=fileUpload'
        //    url: '/api/uploads'
        // },
        // filebrowser: {
        //     // buttons: ['list', 'tiles', 'sort'],
        //     ajax: {
        //         //url: 'https://xdsoft.net/jodit/connector/index.php'
        //         url: '/filebrowse/api/files'
        //     }
        // },
        commandToHotkeys: {
            'openreplacedialog': 'ctrl+p'
        }
        // buttons: ['symbol'],
        // disablePlugins: 'hotkeys,mobile'
    });
    var editor = new Jodit('#preview', {
        textIcons: false,
        iframe: false,
        iframeStyle: '*,.jodit_wysiwyg {color:red;}',
        height: 300,
        defaultMode: Jodit.MODE_WYSIWYG,
        observer: {
            timeout: 100
        },
        uploader: {
          insertImageAsBase64URI: true,
        },

        // uploader: {
        //    // url: 'https://xdsoft.net/jodit/connector/index.php?action=fileUpload'
        //    url: '/api/uploads'
        // },
        // filebrowser: {
        //     // buttons: ['list', 'tiles', 'sort'],
        //     ajax: {
        //         //url: 'https://xdsoft.net/jodit/connector/index.php'
        //         url: '/filebrowse/api/files'
        //     }
        // },
        commandToHotkeys: {
            'openreplacedialog': 'ctrl+p'
        }
        // buttons: ['symbol'],
        // disablePlugins: 'hotkeys,mobile'
    });
</script>

<script>
jQuery(document).ready(function($) {
   
    $('#slCategory').select2();

    $("#productName").bind("keyup", function (e) {
        var productName = $(this).val();
        $('#productKey').val(getSeoTitle(productName));
        $('#metaTile').val(productName);
    });   
    $("#productName").blur(function(){
        var catetext = $(this).val();
        $('#productKey').val(getSeoTitle(catetext));
        $('#metaTile').val(catetext);
    });

    function checkExistProductKey(objId){
        $("#"+objId).blur(function(){
            $.ajax({
                type: "GET",
                async: true,        
                url: "/api/product/checkExistProductKeyOtherId/"+$("#productKey").val()+"/"+$("#id").val(),        
                cache: false,
                dataType: "json",
                success: function (done) {                
                    if(done.status){ 
                        $("#keyspan").html(done.message);    
                        $("#productKey").focus();
                        $("#bntAdd").attr("disabled", true);
                        return false;
                    }else{
                        $("#keyspan").html('');    
                        $("#bntAdd").removeAttr("disabled");
                    }
                }
            });
        });
    }
    checkExistProductKey("productName");
    checkExistProductKey("productKey"); 
    // xoa anh lien quan
    $(document).on("click", ".imgdelete", function() {
        event.preventDefault();
        var id = $(this).attr("id"); 
        var duoi = $(this).parent().attr("id");
        var listImg = $("#hidimageRelated").val();
        var productid = $(this).prev().attr("alt");

        bootbox.confirm("Bạn có chắc chắn muốn xóa ảnh này không?", function(result){             
        if(result){
           
            var idremove = id+duoi;
            var array = listImg.split(',');
            var index = array.indexOf(idremove);
            if (index > -1) {
                array.splice(index, 1);
            }        
                
            $.ajax({
                type: "GET",
                async: true,
                url: "/api/product/deleteimageRelated/"+idremove+"/"+productid+"?listimg="+array,        
                cache: false,
                dataType: "json",
                success: function (done) { 
                    if(done.status){ 
                        $('#'+id).parent().remove();                    
                        $("#hidimageRelated").val(array);                   
                        console.log('Đã xóa thành công ảnh'+idremove);                      
                    }
                }
            });
                
            
            }
        });
       
    });
    
    // xoa anh chinh
    $(document).on("click", ".imgdelete1", function() {
        event.preventDefault();
        var id = $(this).attr("id"); 
        var productid = $(this).parent().attr("id");      
        var imgString = $(this).prev().attr("id");
        bootbox.confirm("Bạn có chắc chắn muốn xóa ảnh này không?", function(result){             
        if(result){
                
            $.ajax({
                type: "GET",
                async: true,
                url: "/api/product/deleteImageUrl/"+productid+"/"+imgString,        
                cache: false,
                dataType: "json",
                success: function (done) {                        
                    if(done.status){ 
                        $('#'+id).parent().remove();  
                        $("#hidImg").val('');
                        console.log('Đã xóa thành công ảnh'+ done.img);                      
                    }
                }
            });
                
            
            }
        });
       
    });
   
});
</script>


</body>
</html>